html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	display: flex;
	background: #1E1E1E;
	color: #DFDFDF;
}

/* ICONS */
.icon-website:before {
	content: url("../img/icons/website.svg");
	width: 0.9em;
	float: left;
	margin-right: 5px;
}

.icon-settings:before {
	content: url("../img/icons/settings.svg");
	width: 0.9em;
	float: left;
	margin-right: 5px;
}

.icon-tag:before {
	content: url("../img/icons/tag.svg");
	width: 0.9em;
	float: left;
	margin-right: 5px;
}

.icon-star:before {
	content: url("../img/icons/star.svg");
	width: 0.9em;
	float: left;
	margin-right: 5px;
}

.icon-plus:before {
	content: url("../img/icons/plus.svg");
	width: 0.8em;
	float: left;
	margin-right: 5px;
}

/* TOOLBAR */
#toolbar {
	font-size: 14px;
	height: 30px;
	border-bottom: 1px solid #444445;
}

#toolbar .selected {
	color: #FAA43A;
}

#toolbar .editor-button {
	display: none;
	cursor: pointer;
}

#toolbar .editor-button:hover {
	color: #FAA43A;
}

#message {
	color: #5EA5DA;
}

/* EDITOR */
div.editor-container {
	margin: 0 auto;
	height: 100%;
	overflow: auto;
}

#editor {
	display: none;
}

/* SIDEBAR */
div.sidebar {
	background: #252526;
	font-size: 0.9em;
}

div.sidebar li.list-group-item {
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px 15px;
}

div.sidebar li.list-group-item:hover {
	color: #fff;
}

div.sidebar li.tagSelected {
	background: #4F4F50;
	color: #fff;
}

div.sidebar a {
	color: #DFDFDF;
}

div.sidebar a:hover {
	color: #fff;
	text-decoration: none;
}

/* PAGES */
#currentPages li.list-group-item {
	background: #1E1E1E;
	border-right: 4px solid #444445;
	cursor: pointer;
}

#currentPages li.list-group-item:hover {
	border-right: 4px solid #0279FF;
	background-color: #5ea5da24;
}

#currentPages li.pageSelected {
	border-right: 4px solid #0279FF;
	background-color: #5ea5da24;
}

#currentPages div.pageItemContent {
	color: #828282;
	font-size: 0.8em;
}

#currentPages div.pageItemData {
	color: #828282;
	font-size: 0.8em;
}

#currentPages div.pageItemData span {
	margin-right: 10px;
}

#currentPages div.pageItemData span.status {
	background-color: #4F4F50;
	color: #ccc;
	padding: 2px 4px;
	border-radius: 2px;
	font-size: 0.9em;
}
