.CodeMirror {
	border: none;
	padding: 0;
	height: 93%;
	background: #303031;
	color: #DFDFDF;
	font-size: 14px;
}

.cm-s-easymde .cm-header-1 {
	font-size: 180%;
}

.cm-s-easymde .cm-header-2 {
	font-size: 140%;
}

.cm-header, .cm-strong {
	font-weight: 600;
}

.cm-s-easymde .cm-comment {
	border-radius: 0;
	background: none;
	color: #DCBA73;
}

.cm-s-easymde .cm-quote {
	color: #8ADEFF;
}

.cm-s-easymde .cm-header {
	color: #ABCDA1;
}